
    <div class="profileTop">
    <img src="{{profilePic}}" class="img-thumbnail" alt="profile photo">
     <figcaption class="figure-caption">
        <a href="/profile/edit">Edit profile</a></figcaption>
    </div>

    <h1>Welcome, {{username}}!</h1>
</div>
<section>
  <p>{{bio}}</p>
</section>
<section id="overview" class="container-fluid mt-5">
    <h2>Overview</h2>
    
</section>
<section id="habits" class="container-fluid mt-5">
    <h2>Habits</h2>

{{#each habits}}
<form action="/habits/{{_id}}" method="POST">
  <div class="mb-3">
   <h3>{{this.title}}</h3>
  </div>
{{#if checked}}
<button type="submit" disabled="true" class="btn btn-disabled" onclick="style.display = 'none'">Done!</button>
{{else}}
  <button type="submit" class="btn btn-primary" onclick="style.display = 'none'">Done!</button>
  {{/if}}
</form>

<table class="table caption-top w-50 weekly-progress">
  <caption>Current week progress</caption>
  <thead>
    <tr>
      <th scope="col-.5">M</th>
      <th scope="col-.5">T</th>
      <th scope="col-1">W</th>
      <th scope="col-1">T</th>
      <th scope="col-1">F</th>
      <th scope="col-1">S</th>
      <th scope="col-1">S</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#each this.tableArray}}
      {{#if this}}
      <td><div class="circle fill-circle"></div></td>
      {{else}}
      <td><div class="circle"></div></td>
      {{/if}}
      {{/each}}
    </tr>
  </tbody>
</table>

{{/each}}
</section>

<section id="groups" class="container-fluid mt-5">
    <h2>Groups</h2>

</section>